{% extends "base.html" %}
{% block content %}
<h2>Booking: {{ room.name }}</h2>
<form action="{{ url_for('book_submit') }}" method="post" class="form">
    <input type="hidden" name="room_id" value="{{ room.id }}">

    <label>Nama</label>
    <input type="text" name="name" value="{{ user.name }}" readonly>

    <label>NIM</label>
    <input type="text" name="nim" value="{{ user.nim }}" readonly>

    <label>Kelas</label>
    <input type="text" name="class_name" placeholder="cth: TI 1A" required>

    <label>Tanggal Penggunaan</label>
    <input type="date" name="date" required>

    <label>Jam Mulai</label>
    <input type="time" name="start_time" required>

    <label>Jam Selesai</label>
    <input type="time" name="end_time" required>

    <label>Alasan / Kegiatan</label>
    <textarea name="reason" required></textarea>

    <button type="submit">Submit Booking</button>
</form>
{% endblock %}
