{% extends "base.html" %}
{% block content %}
<h2>Dashboard - Jadwal Ruangan</h2>

<div class="rooms">
    {% for room in rooms %}
    <div class="room-card">
        <h3>{{ room.name }}</h3>

        <!-- booking terakhir sebagai ringkas -->
        {% set latest = room.bookings|last %}

        {% if latest %}
            <p><b>Dipakai terakhir:</b> {{ latest.date }} ({{ latest.start_time }} - {{ latest.end_time }})</p>
            <p><b>Oleh:</b> {{ latest.name }} ({{ latest.class_name }})</p>
        {% else %}
            <p>Belum ada booking</p>
        {% endif %}

        <a class="btn" href="{{ url_for('book_form', room_id=room.id) }}">Book</a>
        <a class="btn-secondary" href="{{ url_for('room_detail', room_id=room.id) }}">Detail Ruangan</a>
    </div>
    {% endfor %}
</div>

{% endblock %}
